*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    color: #333;
    background: #fff;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 20px;
    font-size: 14px;
    min-width: 320px;
}
a{
    text-decoration: none;
}
.process_bar {
    width: 100%;
    height: 95px;
    padding: 0 !important;
}
.process_step.center {
    margin-left: 1%;
}
.process_step {
    width: 33%;
    float: left;
    height: 100%;
    text-align: center;
    position: relative;
}
.process_step {
    width: 33%;
    float: left;
    height: 100%;
    text-align: center;
    position: relative;
}
.process_step.active .process_line>div, .process_step.active i {
    background: #f44f00;
}
.process_step>i {
    background: #fbb999;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin-top: 13px;
}
.process_step.active .process_text {
    color: #F44f00;
}
.process_step>span {
    display: block;
    color: #000;
    margin-top: 8px;
}
.process_line>div {
    width: 100%;
    height: 100%;
    background: #fbb999;
}
.process_line {
    width: 50% !important;
}
.checkout_title {
    height: 42px;
    line-height: 45px;
    padding: 0 16px;
    font-size: 14px;
}
.address_note, .checkout_title {
    color: #333;
    background: #e8e8e8;
}
.checkout_title, .fs_error {
    border-top: 1px #d6d6d6 solid;
}
.checkout_address {
    width: 100%;
    display: block;
    background: #fff;
}
#edit_user_address:checked+#user_address .ord_address_form, .address.show_address_form>.ord_address_form {
    display: block;
}
.form_label>i {
    width: 25px;
    height: 35px;
    float: left;
    line-height: 42px;
    color: #b7b7b7;
    font-size: 23px;
    margin-left: 4px;
}
.form_input>input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px #d9d9d9 solid;
    padding: 0 18px 0 0;
    color: #404040;
    font-size: 14px;
    border-radius: 0;
}
.form_input {
    padding-left: 30px;
    display: block;
    position: relative;
}
.form_input>.form_select {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px #d9d9d9 solid;
    padding: 0 10px 0 0;
    color: #404040;
    font-size: 14px;
    border-radius: 0;
    background: #fff;
}
.saddress_check {
    width: 100%;
    padding: 0 16px;
    display: block;
    color: #787878;
    height: 35px;
}
.saddress_check_icon {
    width: 19px;
    height: 19px;
    float: left;
    color: #fff;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    margin-right: 10px;
    border: 2px solid #F44f00;
    background: #F44f00;
}

/**/
.checkout_button_boder {
    width: 100%;
    height: 55px;
    position: relative;
}
.checkout_button {
    width: 100%;
    height: 45px;
    background: #fff;
    position: fixed;
    bottom: 0;
    border-top: 1px #d6d6d6 solid;
    border-bottom: 1px #d6d6d6 solid;
}
.checkout_btn {
    width: 145px;
    background: #F44f00;
    height: 45px;
    float: right;
    margin-top: -1px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.checkout_btn, .total_btn {
    line-height: 44px;
    font-weight: 700;
}
.total_btn {
    display: block;
    height: 100%;
    padding-left: 16px;
    color: #404040;
    font-size: 16px;
}
.checkout_btn, .total_btn {
    line-height: 44px;
    font-weight: 700;
}
.sanpham img{
    max-width: 110px;
    margin-left: 0.6em;
}
.checkout .img_user{
    float: right;
    border-radius: 41px;
    margin: 10px;
}
.img_user img{
    max-width: 60px;
}
.checkout .checkout_text{
    float: left;
    width: 60%;
    margin: 10px;
    font-size: 16px;
}
.checkout{
    width: 100%;
    height: 100px;
    border-bottom: 1px #d9d9d9 solid;
}
.img_sanpham {
    width: 34%;
    float: left;
}
.sanpham{
    width: 100%;
}
.sanpham_text{
    width: 85%;
    margin: 1em;
    font-size: 16px;
}
.text_color{
    color: #f44f00;
}
#total_price {
    color: #F44f00;
}
.address b{
    margin: 1em;
}
.img_1{
    display: inline-block;
    background-color: transparent;
    border: 1px solid #0198DB;
    padding: 4px;
    margin: 2px;
}
.form_control:checked+.form_label i {
    background: #f44f00;
    border-color: #f44f00;
}
.form_label i {
    border-radius: 10px;
    border: 2px solid #a8a8a8;
    line-height: 14px;
    color: #fff;
}
.header_table {
    width: 100%;
    height: 36px;
    background: #f7f7f7;
    border-bottom: 1px #ededed solid;
}
.header_bar_icon{
    width: 35px;
    height: 35px;
    float: left;
    color: #414653;
    text-align: center;
    font-size: 11px;
}
.header_bar_title{
    text-align: center;
    font-weight: 700;
    padding: 0 70px 0 0;
    height: 40px;
}

@media only screen and (max-width: 375px){
    #index{
        width: 375px;
        margin: 0 auto;
    }
/*//*/
}